.footer {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  & > ul {
        width: 250px;
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: space-between;
        transform: translateX(-10%);
  }

  & > h3 {
    text-align: center;
  }

}