@import './mixins.scss';

.footer {
  width: 100%;
  display: flex;
  @include flex-center-column;
  margin: 0;
  padding: 0;

  & > ul {
    width: 250px;
    margin: 0 auto;
    list-style: none;
    @include flex-between;
    transform: translateX(-10%);
  }

  & > h3 {
    text-align: center;
  }
}
