@import './mixins.scss';

.layout {
  width: 100%;
  min-height: 100vh;
  @include flex-between-column;
  padding: 20px 0;
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
  color: #fff;
}
