@import './mixins.scss';

.main {
  flex: 1 1 auto;
  width: 100%;
  @include flex-center-column;

  &__exchangeinfo {
    @include flex-center;
    width: 100%;
    margin-top: 20px;
  }

  &__select {
    width: 20%;
    max-width: 150px;
    height: 35px;
    background: #c7d2fe;
    color: #111827;
    padding: 0 5px;
    border: none;
    border-radius: 3px;
    margin: 0;

    @media (max-width: 578px) {
      width: 80px;
    }
  }

  &__title {
    margin: 0 10px;
    font-size: 25px;
    font-weight: 600;

    @media (max-width: 578px) {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
